@charset "UTF-8";
@font-face {
  font-family: "boostland";
  src: url("../fonts/boostlandregular.eot");
  src: url("../fonts/boostlandregular.eot") format("embedded-opentype"), url("../fonts/boostlandregular.woff2") format("woff2"), url("../fonts/boostlandregular.woff") format("woff"), url("../fonts/boostlandregular.ttf") format("truetype"), url("../fonts/boostlandregular.svg#boostlandregular") format("svg");
}
@font-face {
  font-family: "boostland";
  src: url("../fonts/boostlandmedium.eot");
  src: url("../fonts/boostlandmedium.eot") format("embedded-opentype"), url("../fonts/boostlandmedium.woff2") format("woff2"), url("../fonts/boostlandmedium.woff") format("woff"), url("../fonts/boostlandmedium.ttf") format("truetype"), url("../fonts/boostlandmedium.svg#boostlandmedium") format("svg");
  font-style: italic;
}
@font-face {
  font-family: "boostland";
  src: url("../fonts/boostlandbold.eot");
  src: url("../fonts/boostlandbold.eot") format("embedded-opentype"), url("../fonts/boostlandbold.woff2") format("woff2"), url("../fonts/boostlandbold.woff") format("woff"), url("../fonts/boostlandbold.ttf") format("truetype"), url("../fonts/boostlandbold.svg#boostlandbold") format("svg");
  font-weight: bold;
  font-style: italic;
}
div, article, section, header, footer, nav, h1, h1, h3, h4, h5, h6, p, a, span, ul, ol, li, table, tr, th, td, img, figure, figcaption, form, fieldset {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

fieldset, a, img {
  border: 0;
}

header, footer, section, article, nav, figure, figcaption {
  display: block;
  line-height: 100%;
}

*:focus {
  outline: 0;
}

img, a, :focus {
  outline: 0;
  text-decoration: none;
}

::-moz-focus-inner {
  border: 0;
}

p {
  text-align: left;
}

ul, ul li {
  list-style: none;
}

html {
  font-size: 12px;
  background-color: #000;
}

html, body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "boostland", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  min-width: 320px;
}

h1, h2, p {
  margin: 0;
}

ul, li {
  list-style: none;
}

article, section, h1, h2, div, p, span, b, em, strong, i, a {
  letter-spacing: 0.035em;
  text-transform: uppercase;
  cursor: default;
}

a, a article, a section, a h1, a h2, a div, a p, a span, a b, a em, a strong, a i {
  cursor: pointer;
  color: inherit;
}

label, label article, label section, label h1, label h2, label div, label p, label span, label b, label em, label strong, label i {
  cursor: pointer;
  color: inherit;
}

input,
select,
textarea {
  font-family: "boostland", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.035em;
}

img {
  max-width: 100%;
}

.responsive-img {
  max-width: 100%;
}

::selection {
  background: #f7f770;
  color: #231f20;
}

.hidden {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

.none {
  display: none !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 307px;
  max-width: 1340px;
  width: 78.125vw;
}
@media all and (max-width: 1339px) {
  .container {
    max-width: 945px;
    width: 75vw;
  }
}
@media all and (max-width: 1259px) {
  .container {
    max-width: 880px;
    width: 73.333vw;
  }
}
@media all and (max-width: 1199x) {
  .container {
    max-width: 768px;
    width: 75vw;
  }
}
@media all and (max-width: 991px) {
  .container {
    max-width: 720px;
    width: 75vw;
  }
}
@media all and (max-width: 879px) {
  .container {
    max-width: 640px;
    width: 78.125vw;
  }
}
@media all and (max-width: 767px) {
  .container {
    max-width: 600px;
    width: 78.125vw;
  }
}
@media all and (max-width: 671px) {
  .container {
    max-width: 540px;
    width: 78.125vw;
  }
}
@media all and (max-width: 575px) {
  .container {
    max-width: 450px;
    width: 78.125vw;
  }
}
@media all and (max-width: 527px) {
  .container {
    max-width: 400px;
    width: 78.125vw;
  }
}
@media all and (max-width: 479px) {
  .container {
    max-width: 96%;
    width: 96%;
  }
}
@media all and (min-width: 1420px) and (min-height: 568px) {
  .container {
    max-width: 1024px;
    width: 72.5vw;
  }
}
@media all and (min-width: 1580px) and (min-height: 640px) {
  .container {
    max-width: 1125px;
    width: 72.5vw;
  }
}
@media all and (min-width: 1660px) and (min-height: 736px) {
  .container {
    max-width: 1180px;
    width: 72.5vw;
  }
}
@media all and (min-width: 1900px) and (min-height: 812px) {
  .container {
    max-width: 1220px;
    width: 72.5vw;
  }
}
@media all and (min-width: 2020px) and (min-height: 960px) {
  .container {
    max-width: 1340px;
    width: 72.5w;
  }
}

.window {
  position: relative;
  width: calc(100% - 4rem);
  border: 0.3rem solid #f7f770;
  border-radius: 0.8rem;
  background: #000;
  box-sizing: border-box;
  margin: 0 auto;
}
.window:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2rem;
  left: -2rem;
  width: calc(100% + 4rem);
  height: calc(100% + 4rem);
  border: 0.3rem solid #f7f770;
  background: #000;
  border-radius: 2rem;
  box-sizing: border-box;
}
.window .title {
  border-bottom: 0.3rem solid #f7f770;
  padding: 0.9rem 0.3rem 0.9rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.window .title .text {
  position: relative;
  margin-right: auto;
  font-size: 3.6rem;
  font-style: italic;
  color: #f7f770;
  letter-spacing: 0.035em;
  top: 0.3rem;
}
.window .title i {
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 0.5rem;
  border: 0.3rem solid #f7f770;
  border-radius: 0.6rem;
}
.window .title i.decor-1 {
  background-size: 2.4rem auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-min.png);
  background-position: center bottom 0.8rem;
}
@media all and (min-width: 480px) {
  .window .title i.decor-1 {
    background-image: url(../images/m/ico-min.png);
  }
}
@media all and (min-width: 880px) {
  .window .title i.decor-1 {
    background-image: url(../images/l/ico-min.png);
  }
}
@media all and (min-width: 1340px) {
  .window .title i.decor-1 {
    background-image: url(../images/xl/ico-min.png);
  }
}
.window .title i.decor-2 {
  background-size: 1.8rem auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-max.png);
  background-position: center bottom 0.8rem;
}
@media all and (min-width: 480px) {
  .window .title i.decor-2 {
    background-image: url(../images/m/ico-max.png);
  }
}
@media all and (min-width: 880px) {
  .window .title i.decor-2 {
    background-image: url(../images/l/ico-max.png);
  }
}
@media all and (min-width: 1340px) {
  .window .title i.decor-2 {
    background-image: url(../images/xl/ico-max.png);
  }
}
.window .title i.decor-3 {
  background-size: 1.8rem auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-close.png);
  background-position: center bottom 0.8rem;
}
@media all and (min-width: 480px) {
  .window .title i.decor-3 {
    background-image: url(../images/m/ico-close.png);
  }
}
@media all and (min-width: 880px) {
  .window .title i.decor-3 {
    background-image: url(../images/l/ico-close.png);
  }
}
@media all and (min-width: 1340px) {
  .window .title i.decor-3 {
    background-image: url(../images/xl/ico-close.png);
  }
}

.dynamic-content-container {
  position: relative;
}
.dynamic-content-container .dynamic-content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
  transform: translateX(-4em);
  z-index: -1;
}
.dynamic-content-container .dynamic-content.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  z-index: 0;
}
.dynamic-content-container .dynamic-content.inactive {
  transform: translateX(4em);
  opacity: 0;
}
.dynamic-content-container .dynamic-content.backwards {
  transform: translateX(-4em);
  opacity: 0;
}

#wrapper {
  position: relative;
  z-index: 1;
}
#wrapper .top {
  background-color: #000;
}
#wrapper .top .menu {
  margin: 0 auto;
  height: 10.352vw;
  max-height: 106px;
  min-height: 42.4px;
  display: flex;
  align-items: stretch;
}
#wrapper .top .menu .list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#wrapper .top .menu .list .item {
  margin: 0 auto;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#wrapper .top .menu .list .item a {
  position: relative;
  display: block;
  font-size: 0;
  flex-grow: 0;
}
#wrapper .top .menu .list .item.logo-adidas a {
  width: 9.082vw;
  max-width: 93px;
  min-width: 37.2px;
  padding-left: 65.591%;
  width: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/s/logo-adidas.png);
  background-position: center center;
}
@media all and (min-width: 480px) {
  #wrapper .top .menu .list .item.logo-adidas a {
    background-image: url(../images/m/logo-adidas.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .top .menu .list .item.logo-adidas a {
    background-image: url(../images/l/logo-adidas.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .top .menu .list .item.logo-adidas a {
    background-image: url(../images/xl/logo-adidas.png);
  }
}
#wrapper .top .menu .list .item.logo-boostland a {
  width: 47.656vw;
  max-width: 488px;
  min-width: 195.2px;
  padding-left: 18.033%;
  width: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/s/logo-boostland-menu.png);
  background-position: center center;
}
@media all and (min-width: 480px) {
  #wrapper .top .menu .list .item.logo-boostland a {
    background-image: url(../images/m/logo-boostland-menu.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .top .menu .list .item.logo-boostland a {
    background-image: url(../images/l/logo-boostland-menu.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .top .menu .list .item.logo-boostland a {
    background-image: url(../images/xl/logo-boostland-menu.png);
  }
}
#wrapper .top .menu .list .item.ico-menu {
  height: 40%;
}
#wrapper .top .menu .list .item.ico-menu a {
  width: 6.348vw;
  max-width: 65px;
  min-width: 26px;
  padding-left: 84.615%;
  width: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-menu.png);
  background-position: center center;
}
@media all and (min-width: 480px) {
  #wrapper .top .menu .list .item.ico-menu a {
    background-image: url(../images/m/ico-menu.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .top .menu .list .item.ico-menu a {
    background-image: url(../images/l/ico-menu.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .top .menu .list .item.ico-menu a {
    background-image: url(../images/xl/ico-menu.png);
  }
}
#wrapper .home {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, black 45%);
  text-align: center;
}
#wrapper .home:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: auto;
  background-repeat: repeat;
  background-image: url(../images/s/bg-pattern-1.png);
  background-position: center center;
  background-color: #000;
  z-index: -1;
}
@media all and (min-width: 480px) {
  #wrapper .home:before {
    background-image: url(../images/m/bg-pattern-1.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .home:before {
    background-image: url(../images/l/bg-pattern-1.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .home:before {
    background-image: url(../images/xl/bg-pattern-1.png);
  }
}
#wrapper .home .slogan {
  padding: 0 2rem 3rem;
  font-size: 4.2rem;
  font-style: italic;
  color: #f7f770;
  text-align: center;
  font-weight: bold;
}
#wrapper .home .logo {
  padding: 2.93vw 3rem 3rem;
}
#wrapper .home .logo .logo-boostland {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/s/logo-boostland.png);
  background-position: center center;
  padding-bottom: 18%;
  height: 0;
  width: 100%;
  font-size: 0;
  display: block;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}
@media all and (min-width: 480px) {
  #wrapper .home .logo .logo-boostland {
    background-image: url(../images/m/logo-boostland.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .home .logo .logo-boostland {
    background-image: url(../images/l/logo-boostland.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .home .logo .logo-boostland {
    background-image: url(../images/xl/logo-boostland.png);
  }
}
#wrapper .home .logo .logo-boostland:hover {
  transform: scale(1.05);
}
#wrapper .home .main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10.5rem;
  margin-bottom: 3.906vw;
  padding-bottom: 6rem;
}
#wrapper .home .main .links {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1rem solid #f7f770;
  background-color: #000;
  width: calc(50% - 1.5rem);
  margin-right: 1.5rem;
  padding: 1.5rem 0.5rem;
  font-size: 4.2rem;
  font-style: italic;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .home .main .links:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  border: 1rem solid #f7f770;
  background-color: #000;
  z-index: -1;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .home .main .links:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .home .main .links:hover:before {
  top: 0.9rem;
  left: -2.8rem;
}
#wrapper .home .main .links .list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#wrapper .home .main .links .list .item {
  margin: 0.5rem 0;
  text-align: center;
}
#wrapper .home .main .links .list .item a {
  display: block;
  color: #f7f770;
  text-decoration: none;
  padding: 0.7rem 1.5rem 0.4rem;
  font-weight: bold;
}
#wrapper .home .main .links .list .item a:hover {
  background: #f7f770;
  color: #000;
}
#wrapper .home .main .info {
  position: relative;
  box-sizing: border-box;
  background-color: #000;
  width: calc(50% - 1.5rem);
  margin-left: 1.5rem;
  margin-top: 4.5rem;
}
#wrapper .home .main .info .list {
  text-align: left;
  color: #f7f770;
  font-size: 5.4rem;
  font-style: italic;
}
#wrapper .home .main .info .list .item {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1rem solid #f7f770;
  padding: 1rem 1.5rem 0;
  margin-top: -1rem;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), padding 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  font-weight: bold;
}
#wrapper .home .main .info .list .item:first-child {
  margin-top: 0;
}
#wrapper .home .main .info .list .item:hover {
  top: -0.7rem;
  padding-left: 2.2rem;
  background-color: #f7f770;
  color: #000;
}
#wrapper .home .main .info .list .item:hover.map {
  padding-left: 2.2rem;
}
#wrapper .home .main .info .list .item:hover.map .ico {
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-map.png);
  background-position: center center;
}
@media all and (min-width: 480px) {
  #wrapper .home .main .info .list .item:hover.map .ico {
    background-image: url(../images/m/ico-map.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .home .main .info .list .item:hover.map .ico {
    background-image: url(../images/l/ico-map.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .home .main .info .list .item:hover.map .ico {
    background-image: url(../images/xl/ico-map.png);
  }
}
#wrapper .home .main .info .list .item:hover.map .text {
  font-weight: bold;
}
#wrapper .home .main .info .list .item.title {
  background-color: #f7f770;
  color: #000;
}
#wrapper .home .main .info .list .item.map {
  padding: 1rem 0 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrapper .home .main .info .list .item.map .ico {
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-map-inverted.png);
  background-position: center center;
  font-size: 0;
  flex-shrink: 0;
  width: 3.6rem;
  margin-right: 1rem;
  align-self: stretch;
  padding: 0 0.3rem 0 0.5rem;
}
@media all and (min-width: 480px) {
  #wrapper .home .main .info .list .item.map .ico {
    background-image: url(../images/m/ico-map-inverted.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .home .main .info .list .item.map .ico {
    background-image: url(../images/l/ico-map-inverted.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .home .main .info .list .item.map .ico {
    background-image: url(../images/xl/ico-map-inverted.png);
  }
}
#wrapper .home .main .info .list .item.map .text {
  flex-grow: 1;
  font-size: 1.9rem;
  font-style: normal;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: -0.015em;
}
#wrapper .home .button {
  margin: 3rem auto 0;
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  padding: 1rem 1.5rem 0;
  box-sizing: border-box;
  border: 1rem solid #f7f770;
  background-color: #000;
  color: #f7f770;
  font-style: italic;
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 100%;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}
#wrapper .home .button:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  border: 1rem solid #f7f770;
  background-color: #000;
  z-index: -1;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .home .button:hover {
  background-color: #f7f770;
  color: #000;
}
#wrapper .home .button:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .home .button:hover:before {
  top: 0.8rem;
  left: -2.8rem;
}
#wrapper .boost-land {
  color: #fff;
  padding: 9rem 0 11rem;
}
#wrapper .boost-land .main {
  padding: 1.5rem 1.5rem 4rem;
}
#wrapper .boost-land .main .subtitle {
  position: relative;
  display: block;
  font-size: 5.4rem;
  font-style: italic;
  line-height: 120%;
  text-align: center;
  margin: 2.5rem 5rem;
}
#wrapper .boost-land .main .subtitle em {
  position: absolute;
  font-weight: bold;
  top: -0.15rem;
  left: -0.15rem;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 0.15rem #f7f770;
  color: #000;
  letter-spacing: 0.05em;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #wrapper .boost-land .main .subtitle em {
    text-shadow: -0.15rem -0.15rem 0 #f7f770, 0.15rem -0.15rem 0 #f7f770, -0.15rem 0.15rem 0 #f7f770, 0.15rem 0.15rem 0 #f7f770;
  }
}
#wrapper .boost-land .main .subtitle b {
  position: relative;
  font-weight: bold;
  font-style: italic;
  top: 0.15rem;
  left: 0.15rem;
  color: #f7f770;
  letter-spacing: 0.05em;
}
#wrapper .boost-land .main .description {
  padding: 0 9rem;
  font-size: 2.4rem;
  line-height: 115%;
  margin-bottom: 2.5rem;
}
#wrapper .boost-land .main .description:last-child {
  margin-bottom: 0;
  text-align: center;
}
#wrapper .boost-store {
  position: relative;
  color: #fff;
  overflow: hidden;
  padding: 9rem 0 11rem;
}
#wrapper .boost-store:before {
  content: "";
  background-size: auto;
  background-repeat: repeat;
  background-image: url(../images/s/bg-pattern-2.png);
  background-position: center;
  width: 300%;
  height: 300%;
  position: absolute;
  top: -70%;
  left: -100%;
  transform: rotate(45deg);
  z-index: -2;
}
@media all and (min-width: 480px) {
  #wrapper .boost-store:before {
    background-image: url(../images/m/bg-pattern-2.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .boost-store:before {
    background-image: url(../images/l/bg-pattern-2.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .boost-store:before {
    background-image: url(../images/xl/bg-pattern-2.png);
  }
}
#wrapper .boost-store .main {
  width: 100%;
  padding: 1.5rem 5.5rem 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#wrapper .boost-store .main .img {
  align-self: stretch;
  width: calc(50% - .15rem);
  flex-shrink: 0;
}
#wrapper .boost-store .main .text .subtitle {
  position: relative;
  display: block;
  font-size: 4.2rem;
  font-style: italic;
  line-height: 120%;
  text-align: center;
  margin: 2.5rem 0;
}
#wrapper .boost-store .main .text .subtitle em {
  position: absolute;
  font-weight: bold;
  top: -0.1rem;
  left: -0.1rem;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #f7f770;
  color: #000;
  letter-spacing: 0.05em;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #wrapper .boost-store .main .text .subtitle em {
    text-shadow: -0.1rem -0.1rem 0 #f7f770, 0.1rem -0.1rem 0 #f7f770, -0.1rem 0.1rem 0 #f7f770, 0.1rem 0.1rem 0 #f7f770;
  }
}
#wrapper .boost-store .main .text .subtitle b {
  position: relative;
  font-weight: bold;
  font-style: italic;
  top: 0.1rem;
  left: 0.1rem;
  color: #f7f770;
  letter-spacing: 0.05em;
}
#wrapper .boost-store .main .text .description {
  font-size: 2.4rem;
  line-height: 115%;
}
#wrapper .boost-talks-1 {
  background-color: #f7f770;
  padding: 6rem 0;
}
#wrapper .boost-talks-1 .title {
  font-size: 4.2rem;
  font-style: italic;
  color: #000;
  margin-bottom: 4rem;
  line-height: 100%;
}
#wrapper .boost-talks-1 .main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10.5rem;
}
#wrapper .boost-talks-1 .main .list {
  position: relative;
  width: calc(50% - 1.5rem);
  box-sizing: border-box;
  font-size: 4.2rem;
  font-style: italic;
  font-weight: bold;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .boost-talks-1 .main .list.subtitle {
  margin-right: 1.5rem;
}
#wrapper .boost-talks-1 .main .list.subtitle .item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}
#wrapper .boost-talks-1 .main .list.subtitle .item:first-child {
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  padding: 1rem 1.5rem 0;
  box-sizing: border-box;
  border: 1rem solid #000;
  background-color: #f7f770;
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 100%;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  font-size: 4.2rem;
}
#wrapper .boost-talks-1 .main .list.subtitle .item:first-child:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  border: 1rem solid #000;
  background-color: #f7f770;
  z-index: -1;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .boost-talks-1 .main .list.subtitle .item:first-child:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .boost-talks-1 .main .list.subtitle .item:first-child:hover:before {
  top: 0.8rem;
  left: -2.8rem;
}
#wrapper .boost-talks-1 .main .list.subtitle .item:first-child p {
  padding: 1rem 0;
  width: 100%;
  line-height: 180%;
  text-align: center;
}
#wrapper .boost-talks-1 .main .list.subtitle .item a {
  margin-top: 5rem;
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  padding: 1rem 1.5rem 0;
  box-sizing: border-box;
  border: 1rem solid #000;
  background-color: #f7f770;
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 100%;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
  font-size: 5.4rem;
}
#wrapper .boost-talks-1 .main .list.subtitle .item a:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  border: 1rem solid #000;
  background-color: #f7f770;
  z-index: -1;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .boost-talks-1 .main .list.subtitle .item a:hover {
  background-color: #000;
  color: #f7f770;
}
#wrapper .boost-talks-1 .main .list.subtitle .item a:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .boost-talks-1 .main .list.subtitle .item a:hover:before {
  top: 0.8rem;
  left: -2.8rem;
}
#wrapper .boost-talks-1 .main .list.info {
  margin-top: 4.5rem;
}
#wrapper .boost-talks-1 .main .list.info .item {
  border: 1rem solid #000;
  background-color: #f7f770;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 1rem 1.5rem 0;
  font-size: 5.4rem;
  margin-top: -1rem;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), padding 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  font-weight: bold;
}
#wrapper .boost-talks-1 .main .list.info .item:first-child {
  margin-top: 0;
}
#wrapper .boost-talks-1 .main .list.info .item:hover {
  top: -0.7rem;
  padding-left: 2.2rem;
  background-color: #000;
  color: #f7f770;
}
#wrapper .boost-talks-1 .main .list.info .item:hover.map {
  padding-left: 2.2rem;
}
#wrapper .boost-talks-1 .main .list.info .item:hover.map .ico {
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-map-inverted.png);
  background-position: center center;
}
@media all and (min-width: 480px) {
  #wrapper .boost-talks-1 .main .list.info .item:hover.map .ico {
    background-image: url(../images/m/ico-map-inverted.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .boost-talks-1 .main .list.info .item:hover.map .ico {
    background-image: url(../images/l/ico-map-inverted.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .boost-talks-1 .main .list.info .item:hover.map .ico {
    background-image: url(../images/xl/ico-map-inverted.png);
  }
}
#wrapper .boost-talks-1 .main .list.info .item.list-title {
  background-color: #000;
  color: #f7f770;
}
#wrapper .boost-talks-1 .main .list.info .item.map {
  padding: 2rem 0 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrapper .boost-talks-1 .main .list.info .item.map .ico {
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-map.png);
  background-position: center center;
  font-size: 0;
  flex-shrink: 0;
  width: 3.6rem;
  margin-right: 1rem;
  align-self: stretch;
  padding: 0 0.3rem 0 0.5rem;
}
@media all and (min-width: 480px) {
  #wrapper .boost-talks-1 .main .list.info .item.map .ico {
    background-image: url(../images/m/ico-map.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .boost-talks-1 .main .list.info .item.map .ico {
    background-image: url(../images/l/ico-map.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .boost-talks-1 .main .list.info .item.map .ico {
    background-image: url(../images/xl/ico-map.png);
  }
}
#wrapper .boost-talks-1 .main .list.info .item.map .text {
  flex-grow: 1;
  font-size: 1.9rem;
  font-style: normal;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: -0.015em;
  padding-right: 4rem;
}
#wrapper .boost-talks-2 {
  position: relative;
  color: #fff;
  overflow: hidden;
  padding: 9rem 0 11rem;
}
#wrapper .boost-talks-2:before {
  content: "";
  background-size: auto;
  background-repeat: repeat;
  background-image: url(../images/s/bg-pattern-3.png);
  background-position: center;
  width: 300%;
  height: 300%;
  position: absolute;
  top: -70%;
  left: -100%;
  transform: rotate(-24.25deg);
  z-index: -2;
}
@media all and (min-width: 480px) {
  #wrapper .boost-talks-2:before {
    background-image: url(../images/m/bg-pattern-3.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .boost-talks-2:before {
    background-image: url(../images/l/bg-pattern-3.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .boost-talks-2:before {
    background-image: url(../images/xl/bg-pattern-3.png);
  }
}
#wrapper .boost-talks-2 .main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4rem 5rem 5rem 4rem;
}
#wrapper .boost-talks-2 .main .description {
  position: relative;
  width: calc(55% - 1rem);
}
#wrapper .boost-talks-2 .main .description .subtitle {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 3rem;
  position: relative;
  display: block;
}
#wrapper .boost-talks-2 .main .description .subtitle em {
  position: absolute;
  font-weight: bold;
  top: -0.1rem;
  left: -0.1rem;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #f7f770;
  color: #000;
  letter-spacing: 0.05em;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #wrapper .boost-talks-2 .main .description .subtitle em {
    text-shadow: -0.1rem -0.1rem 0 #f7f770, 0.1rem -0.1rem 0 #f7f770, -0.1rem 0.1rem 0 #f7f770, 0.1rem 0.1rem 0 #f7f770;
  }
}
#wrapper .boost-talks-2 .main .description .subtitle b {
  position: relative;
  font-weight: bold;
  font-style: italic;
  top: 0.1rem;
  left: 0.1rem;
  color: #f7f770;
  letter-spacing: 0.05em;
}
#wrapper .boost-talks-2 .main .description p {
  font-size: 1.9rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}
#wrapper .boost-talks-2 .main .description p:last-child {
  margin-bottom: 0;
}
#wrapper .boost-talks-2 .main .menu {
  order: 2;
  width: calc(45% - 1rem);
  flex-shrink: 0;
}
#wrapper .boost-talks-2 .main .menu .list .item {
  position: relative;
  z-index: 0;
  margin-bottom: 1.5rem;
}
#wrapper .boost-talks-2 .main .menu .list .item:last-child {
  margin-bottom: 0;
}
#wrapper .boost-talks-2 .main .menu .list .item a {
  margin-left: auto;
  position: relative;
  display: block;
  width: calc(100% - 1.5rem);
  border-radius: 0.8rem;
  border: 0.3rem solid #f7f770;
  border-right-width: 5rem;
  box-sizing: border-box;
  padding: 1rem 2rem 0.3rem 1rem;
  font-size: 3.3rem;
  font-style: italic;
  font-weight: bold;
  line-height: 100%;
  color: #f7f770;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .boost-talks-2 .main .menu .list .item a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #f7f770;
  transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: -1;
}
#wrapper .boost-talks-2 .main .menu .list .item a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 5rem;
  height: 100%;
  border-radius: 0.3rem;
  background-size: 45% auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-more.png);
  background-position: center center;
  transform: rotate(0deg);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
@media all and (min-width: 480px) {
  #wrapper .boost-talks-2 .main .menu .list .item a:after {
    background-image: url(../images/m/ico-more.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .boost-talks-2 .main .menu .list .item a:after {
    background-image: url(../images/l/ico-more.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .boost-talks-2 .main .menu .list .item a:after {
    background-image: url(../images/xl/ico-more.png);
  }
}
#wrapper .boost-talks-2 .main .menu .list .item a:hover, #wrapper .boost-talks-2 .main .menu .list .item a.active {
  width: 100%;
}
#wrapper .boost-talks-2 .main .menu .list .item a.active {
  color: #000;
}
#wrapper .boost-talks-2 .main .menu .list .item a.active:before {
  width: 100%;
}
#wrapper .boost-talks-2 .main .menu .list .item a.active:after {
  background-size: 45% auto;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-less.png);
  background-position: center center;
  transform: rotate(180deg);
}
@media all and (min-width: 480px) {
  #wrapper .boost-talks-2 .main .menu .list .item a.active:after {
    background-image: url(../images/m/ico-less.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .boost-talks-2 .main .menu .list .item a.active:after {
    background-image: url(../images/l/ico-less.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .boost-talks-2 .main .menu .list .item a.active:after {
    background-image: url(../images/xl/ico-less.png);
  }
}
#wrapper .agenda {
  background: #000;
}
#wrapper .agenda .title {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  padding: 1rem 1.5rem 0;
  box-sizing: border-box;
  border: 1rem solid #f7f770;
  background-color: #000;
  color: #f7f770;
  font-style: italic;
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 100%;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .agenda .title:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  border: 1rem solid #f7f770;
  background-color: #000;
  z-index: -1;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .agenda .title:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .agenda .title:hover:before {
  top: 0.8rem;
  left: -2.8rem;
}
#wrapper .agenda .description {
  font-size: 1.9rem;
  color: #f7f770;
  line-height: 120%;
  margin: 4.5rem 0 3rem;
}
#wrapper .agenda .main {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 10.5rem 5rem;
}
#wrapper .agenda .main .list {
  position: relative;
  top: 0;
  left: 0;
  width: calc(50% - 1.5rem);
  font-style: italic;
  cursor: pointer;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#wrapper .agenda .main .list:first-of-type {
  margin-top: 3rem;
}
#wrapper .agenda .main .list:last-of-type .item:nth-last-child(2) {
  padding-bottom: 2rem;
}
#wrapper .agenda .main .list:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .agenda .main .list .item {
  position: relative;
  box-sizing: border-box;
  font-size: 2.4rem;
  background-color: #f7f770;
  color: #000;
  padding-bottom: 1rem;
  width: 100%;
  font-weight: normal;
}
#wrapper .agenda .main .list .item b {
  font-weight: bold;
}
#wrapper .agenda .main .list .item:last-child {
  padding-bottom: 2rem;
}
#wrapper .agenda .main .list .item.list-title {
  background-color: #000;
  color: #f7f770;
  font-size: 5.4rem;
  font-weight: bold;
  padding: 1rem 1.5rem 0;
  border: 1rem solid #f7f770;
}
#wrapper .agenda .main .list .item.extra {
  margin-top: 1.5rem;
  padding: 0;
  color: #f7f770;
  font-size: 1.3rem;
  letter-spacing: 0.015em;
  font-style: normal;
  border: none;
  padding: 0;
  background: transparent;
  line-height: 140%;
  font-weight: normal;
}
#wrapper .agenda .main .list .item a {
  color: #000;
  padding: 1rem 2.5rem 0;
  display: block;
  box-sizing: border-box;
  line-height: 110%;
}
#wrapper .agenda .main .list .item a b {
  letter-spacing: 0;
}
#wrapper .agenda .main .list .item a:hover {
  text-decoration: underline;
}
#wrapper .cadastro {
  padding-bottom: 2rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
#wrapper .cadastro .main .description {
  padding: 3rem 10rem 2.2rem;
}
#wrapper .cadastro .main .description .text-stroke {
  position: relative;
  display: block;
  font-size: 4.2rem;
  font-style: italic;
  line-height: 120%;
  text-align: center;
}
#wrapper .cadastro .main .description .text-stroke em {
  position: absolute;
  font-weight: bold;
  top: -0.1rem;
  left: -0.1rem;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 0.1rem #f7f770;
  color: #000;
  letter-spacing: 0.05em;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #wrapper .cadastro .main .description .text-stroke em {
    text-shadow: -0.1rem -0.1rem 0 #f7f770, 0.1rem -0.1rem 0 #f7f770, -0.1rem 0.1rem 0 #f7f770, 0.1rem 0.1rem 0 #f7f770;
  }
}
#wrapper .cadastro .main .description .text-stroke b {
  position: relative;
  font-weight: bold;
  font-style: italic;
  top: 0.1rem;
  left: 0.1rem;
  color: #f7f770;
  letter-spacing: 0.05em;
}
#wrapper .cadastro .main .form {
  padding: 3rem;
  width: calc(100% - 9rem);
  margin: 0 auto 4.5rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
  background: #f7f770;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}
#wrapper .cadastro .main .form .field {
  margin: 0.8rem 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7rem;
  border: none;
  background: #fff;
  color: #000;
  padding: 0 1.5rem;
  box-sizing: border-box;
  font-size: 3.3rem;
  font-style: italic;
  text-transform: uppercase;
  line-height: 7rem;
}
#wrapper .cadastro .main .form .field::-webkit-input-placeholder {
  color: #000;
  padding: 0.2rem;
}
#wrapper .cadastro .main .form .field:-moz-placeholder {
  color: #000;
  padding: 0.2rem;
}
#wrapper .cadastro .main .form .field::-moz-placeholder {
  color: #000;
  padding: 0.2rem;
}
#wrapper .cadastro .main .form .field:-ms-input-placeholder {
  color: #000;
  padding: 0.2rem;
}
#wrapper .cadastro .main .form .field.half {
  width: calc(50% - .8rem);
}
#wrapper .cadastro .main .form .field.inverted {
  background: #000;
  color: #fff;
}
#wrapper .cadastro .main .form .field.date {
  color: transparent;
}
#wrapper .cadastro .main .form .field.date::-webkit-inner-spin-button {
  display: none;
}
#wrapper .cadastro .main .form .field.date::-webkit-calendar-picker-indicator {
  opacity: 0;
}
#wrapper .cadastro .main .form .field.date::-webkit-clear-button {
  display: none;
}
#wrapper .cadastro .main .form .field.date:before {
  content: attr(placeholder) !important;
  color: #000;
}
#wrapper .cadastro .main .form .field.date:focus, #wrapper .cadastro .main .form .field.date:valid {
  color: #000;
}
#wrapper .cadastro .main .form .field.date:focus:before, #wrapper .cadastro .main .form .field.date:valid:before {
  content: "" !important;
}
#wrapper .cadastro .main .form .field.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-size: auto 1.5rem;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-arrow-down.png);
  background-position: right 1.5rem center;
  cursor: pointer;
}
@media all and (min-width: 480px) {
  #wrapper .cadastro .main .form .field.select {
    background-image: url(../images/m/ico-arrow-down.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .cadastro .main .form .field.select {
    background-image: url(../images/l/ico-arrow-down.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .cadastro .main .form .field.select {
    background-image: url(../images/xl/ico-arrow-down.png);
  }
}
#wrapper .cadastro .main .form .field.select:focus {
  background-size: auto 1.5rem;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-arrow-up.png);
  background-position: right 1.5rem center;
}
@media all and (min-width: 480px) {
  #wrapper .cadastro .main .form .field.select:focus {
    background-image: url(../images/m/ico-arrow-up.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .cadastro .main .form .field.select:focus {
    background-image: url(../images/l/ico-arrow-up.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .cadastro .main .form .field.select:focus {
    background-image: url(../images/xl/ico-arrow-up.png);
  }
}
#wrapper .cadastro .main .form .field.select::-ms-expand {
  display: none;
}
#wrapper .cadastro .main .form .field.select.inverted {
  background-size: auto 1.5rem;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-arrow-down-inverted.png);
  background-position: right 1.5rem center;
}
@media all and (min-width: 480px) {
  #wrapper .cadastro .main .form .field.select.inverted {
    background-image: url(../images/m/ico-arrow-down-inverted.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .cadastro .main .form .field.select.inverted {
    background-image: url(../images/l/ico-arrow-down-inverted.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .cadastro .main .form .field.select.inverted {
    background-image: url(../images/xl/ico-arrow-down-inverted.png);
  }
}
#wrapper .cadastro .main .form .field.select.inverted:focus {
  background-size: auto 1.5rem;
  background-repeat: no-repeat;
  background-image: url(../images/s/ico-arrow-up-inverted.png);
  background-position: righ 1.5rem t center;
}
@media all and (min-width: 480px) {
  #wrapper .cadastro .main .form .field.select.inverted:focus {
    background-image: url(../images/m/ico-arrow-up-inverted.png);
  }
}
@media all and (min-width: 880px) {
  #wrapper .cadastro .main .form .field.select.inverted:focus {
    background-image: url(../images/l/ico-arrow-up-inverted.png);
  }
}
@media all and (min-width: 1340px) {
  #wrapper .cadastro .main .form .field.select.inverted:focus {
    background-image: url(../images/xl/ico-arrow-up-inverted.png);
  }
}
#wrapper .cadastro .main .form .field-text {
  padding-left: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#wrapper .cadastro .main .form .field-extra {
  font-size: 1.3rem;
  font-style: normal;
  line-height: 100%;
  width: 100%;
  font-weight: bold;
}
#wrapper .cadastro .main .form .field-name {
  margin-top: 2.2rem;
  font-size: 3.3rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 1rem;
  width: 100%;
}
#wrapper .cadastro .main .form .checkbox,
#wrapper .cadastro .main .form .radio {
  display: flex;
  margin: 0.5rem 0;
  margin-right: 18%;
}
#wrapper .cadastro .main .form .checkbox label,
#wrapper .cadastro .main .form .radio label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 100%;
  font-style: italic;
  cursor: pointer;
}
#wrapper .cadastro .main .form .checkbox label b,
#wrapper .cadastro .main .form .radio label b {
  font-weight: normal;
}
#wrapper .cadastro .main .form .checkbox label:before,
#wrapper .cadastro .main .form .radio label:before {
  position: relative;
  box-sizing: border-box;
  top: -0.2rem;
  display: block;
  content: "";
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  background: #fff;
  font-size: 3.3rem;
  -webkit-text-stroke: 1px #000;
  text-indent: -0.1rem;
  line-height: 50%;
}
#wrapper .cadastro .main .form .checkbox input[type=checkbox],
#wrapper .cadastro .main .form .radio input[type=checkbox] {
  display: none;
}
#wrapper .cadastro .main .form .checkbox input[type=checkbox]:checked + label:before,
#wrapper .cadastro .main .form .radio input[type=checkbox]:checked + label:before {
  content: "✔";
}
#wrapper .cadastro .main .form .checkbox input[type=radio],
#wrapper .cadastro .main .form .radio input[type=radio] {
  display: none;
}
#wrapper .cadastro .main .form .checkbox input[type=radio]:checked + label:before,
#wrapper .cadastro .main .form .radio input[type=radio]:checked + label:before {
  content: "•";
}
#wrapper .cadastro .main .form .radio {
  margin: 0 0 0 2rem;
}
#wrapper .cadastro .main .form .radio:first-of-type {
  margin-top: 0;
  margin-left: 0;
}
#wrapper .cadastro .main .form .radio label {
  font-size: 3.3rem;
}
#wrapper .cadastro .main .form .radio label:before {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  padding-top: 0.4rem;
  line-height: 3rem;
  text-align: center;
  font-size: 5.4rem;
}
#wrapper .cadastro .main .form .checkbox {
  margin-bottom: 1rem;
}
#wrapper .cadastro .main .form .checkbox:first-of-type {
  margin-top: 3rem;
}
#wrapper .cadastro .main .form .button {
  margin: 2rem auto 0;
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  padding: 1rem 5rem 0;
  box-sizing: border-box;
  border: 1rem solid #000;
  background-color: #f7f770;
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-size: 5.4rem;
  line-height: 100%;
  transition: top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}
#wrapper .cadastro .main .form .button:hover {
  background-color: #000;
  color: #f7f770;
}
#wrapper .cadastro .main .form .button:hover {
  top: -0.2rem;
  left: 0.2rem;
}
#wrapper .cadastro .main .form .button:hover:before {
  top: 0.8rem;
  left: -2.8rem;
}
#wrapper .cadastro .main .form a {
  text-decoration: underline;
  color: #000;
}
#wrapper .newsletter {
  padding-bottom: 6rem;
}
#wrapper .newsletter .main {
  padding: 3rem 1.5rem;
}

@media all and (max-width: 1339px) {
  html {
    font-size: 11px;
  }
}
@media all and (max-width: 1259px) {
  html {
    font-size: 11px;
  }

  #wrapper .home .main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  #wrapper .boost-store .main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #wrapper .agenda .main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media all and (max-width: 1199x) {
  html {
    font-size: 10px;
  }
}
@media all and (max-width: 991px) {
  html {
    font-size: 10px;
  }

  #wrapper .home .main {
    padding-left: 0;
    padding-right: 0;
  }
  #wrapper .boost-store .main {
    flex-direction: column;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
  #wrapper .boost-store .main .img {
    width: 100%;
    height: 40rem;
    margin-top: 1.5rem;
  }
  #wrapper .cadastro .main .form .checkbox {
    margin-right: 0;
    width: 100%;
  }
  #wrapper .cadastro .main .form .select {
    background-position: center right 0.3rem;
    background-size: auto 0.6rem;
  }
  #wrapper .boost-talks-1 .main {
    padding-left: 0;
    padding-right: 0;
  }
  #wrapper .boost-talks-2 .main {
    padding: 4rem 2rem;
  }
  #wrapper .boost-talks-2 .main .menu {
    width: calc(45% - .5rem);
  }
  #wrapper .boost-talks-2 .main .description .subtitle {
    font-size: 4.2rem;
    text-align: left;
  }
  #wrapper .boost-talks-2 .main .description p {
    font-size: 2.4rem;
  }
}
@media all and (max-width: 879px) {
  html {
    font-size: 9px;
  }

  #wrapper .boost-land .main .subtitle {
    margin: 3rem 1.5rem;
  }
  #wrapper .boost-land .main .description {
    padding: 0 1.5rem;
  }
  #wrapper .boost-talks-2 .main .menu .list .item a {
    width: calc(100% - 1rem);
    letter-spacing: 0.025em;
  }
  #wrapper .agenda .main .list .item.extra {
    font-size: 1.6rem;
  }
  #wrapper .cadastro .main .form .field-extra {
    font-size: 1.9rem;
  }
}
@media all and (max-width: 767px) {
  html {
    font-size: 8px;
  }

  #wrapper .home .main .info .list .item.map {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #wrapper .home .main .info .list .item.map .ico {
    margin: 0 auto 1rem;
  }
  #wrapper .home .main .info .list .item.map .text {
    font-size: 2.4rem;
    text-align: center;
  }
  #wrapper .boost-talks-1 .main .list.info .item.map {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #wrapper .boost-talks-1 .main .list.info .item.map .ico {
    margin: 0 auto 1rem;
  }
  #wrapper .boost-talks-1 .main .list.info .item.map .text {
    font-size: 2.4rem;
    padding-right: 2rem;
    text-align: center;
  }
  #wrapper .boost-talks-2 .main {
    flex-direction: column;
  }
  #wrapper .boost-talks-2 .main .menu {
    order: -1;
    width: 100%;
    margin-bottom: 5rem;
  }
  #wrapper .boost-talks-2 .main .menu .list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  #wrapper .boost-talks-2 .main .menu .list .item {
    margin: 1.5rem;
  }
  #wrapper .boost-talks-2 .main .menu .list .item a {
    width: 100%;
  }
  #wrapper .boost-talks-2 .main .description {
    width: 100%;
  }
  #wrapper .agenda .main {
    padding-left: 0;
    padding-right: 0;
  }
  #wrapper .agenda .main .description {
    font-size: 2.4rem;
  }
  #wrapper .agenda .main .list .item {
    font-size: 3.3rem;
  }
  #wrapper .agenda .main .list .item.extra {
    font-size: 1.9rem;
  }
  #wrapper .agenda .main .list .item a b {
    display: block;
  }
  #wrapper .cadastro .main .form {
    width: calc(100% - 4.5rem);
  }
  #wrapper .cadastro .main .description {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}
@media all and (max-width: 671px) {
  html {
    font-size: 8px;
  }

  #wrapper .cadastro .main .form .field.half {
    width: 100%;
  }
  #wrapper .cadastro .main .form .checkbox label {
    font-size: 2.5rem;
  }
  #wrapper .boost-talks-2 .main .menu .list {
    display: block;
  }
}
@media all and (max-width: 575px) {
  html {
    font-size: 8px;
  }
}
@media all and (max-width: 527px) {
  html {
    font-size: 8px;
  }

  #wrapper .home .main {
    flex-direction: column;
  }
  #wrapper .home .main .links {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #wrapper .home .main .links .list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #wrapper .home .main .info {
    width: 66.666%;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper .home .main .info {
    margin-top: 4.5rem;
  }
  #wrapper .agenda .main .list {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #wrapper .agenda .main .list:first-of-type {
    margin-top: 0;
  }
  #wrapper .agenda .main .list:last-of-type {
    margin-top: 3rem;
  }
  #wrapper .agenda .main .list .item a b {
    display: inline;
  }
}
@media all and (max-width: 479px) {
  html {
    font-size: 9px;
  }

  .top .submenu .list .item .link {
    margin: 2.2rem;
  }
}
@media all and (min-width: 1420px) and (min-height: 568px) {
  html {
    font-size: 11px;
  }
}
@media all and (min-width: 1580px) and (min-height: 640px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 1660px) and (min-height: 736px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 1900px) and (min-height: 812px) {
  html {
    font-size: 13px;
  }
}

/*# sourceMappingURL=app.css.map */



